<% provide :title, t("static_pages.contact.title") %>
<h1><%= t "static_pages.contact.title" %></h1>
<p>
  <%= t("static_pages.contact.content")[0] %>
  <%= link_to t("static_pages.contact.content")[1], Settings.link.railstutorial.contact %>
  <%= t("static_pages.contact.content")[2] %>
</p>
