<% provide :title, t("static_pages.home.title") %>
<h1><%= t("static_pages.home.title") %></h1> 
<p>
  <%= t("static_pages.home.content")[0]  %>
  <%= link_to t("static_pages.home.content")[1], Settings.link.railstutorial.home %>
  <%= t("static_pages.home.content")[2] %>
</p>
