<li>
  <%= gravatar_for user, size: Settings.avatar_small_size %> 
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
  | <%= link_to t("shared.delete"), user, method: :delete, data: { confirm: t("shared.you_sure") } %>
  <% end %>
</li>
