<% provide :title, t("user.index.title") %> 
<h1><%= t "user.index.title" %></h1>
<%= paginate @users, theme: "twitter-bootstrap-4" %>
<ul class="users">
  <%= render @users %>
</ul>
<%= paginate @users, theme: "twitter-bootstrap-4" %>
