<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t ".the_form_contains", error: object.errors.count %> <%= pluralize @user.errors.count, t(".error") %>.
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li> 
      <% end %>
    </ul>
  </div>  
<% end %>
